.category-chip {
  display: inline-flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.category-chip:hover {

  background-color: rgba(208, 164, 164, 0.59);
}

.category-name {
  margin-right: 5px;
}

.delete-category {
  background: none;
  border: none;
  color: #a0a0a0;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
  transition: color 0.3s;
}

.delete-category:hover {
  color: #9d0000;

}

.delete-category:focus {

}
