.category-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.category-chip:hover {

  background-color: rgba(238, 157, 157, 0.97);
}

.category-name {
  margin-right: 8px;
}

.delete-category {
  background: none;
  border: none;
  color: #a0a0a0;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
  transition: color 0.3s;
}

.delete-category:hover {
  color: #880202;

}

