<div class="background-image">
    <h1> Book Store </h1>

    <div class="filter-section">
      <i class="fa fa-search search-icon"></i>
      <input
        type="text"
        id="filter-input"
        placeholder="Search by Title, Author or Category"
        (input)="applyFilter($event)"
      />
    </div>

  <button class="flat-button" (click)="openAddBookDialog()">Add Book</button>

  <app-add-book-form
    [isOpen]="isModalOpen"
    (isClose)="closeAddBookDialog()"
    (bookAdded)="getBooks()"
  ></app-add-book-form>

  <div class="book-list">

        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of filteredBooks">
                        <td class="action-cell">
                          <button  class="delete-button" (click)="deleteBook(book.id)">
                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                          </button>
                        </td>
                        <td>{{ book["title"] }}</td>
                        <td>{{ book["author"]["name"] }}</td>
                        <td>
                            <div class="chips-container" >
                              <app-category-chip  *ngFor="let category of book.categories" class="chip"
                                [category]=category
                                [bookId]="book.id"
                                (deleteCategory)="deleteCategoryBook($event)">
                              </app-category-chip>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

