<div class="background-image">
    <h1> Book Store </h1>




    <div class="filter-section">
      <i class="fa fa-search search-icon"></i>
      <input
        type="text"
        id="filter-input"
        placeholder="Search by Title, Author or Category"
        (input)="applyFilter($event)"
      />
    </div>


    <div class="book-list">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of filteredBooks">
                        <td>{{ book["title"] }}</td>
                        <td>{{ book["author"]["name"] }}</td>
                        <td>
                            <div class="chips-container" >
                              <app-category-chip  *ngFor="let category of book.categories" class="chip"
                                [category]=category
                                [bookId]="book.id"
                                (deleteCategory)="deleteCategoryFromBook($event)">
                              </app-category-chip>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

